<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/BG.css" rel="stylesheet"/>

    <!-- summernote   -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <link href="/assets/summernote/css/summernote-lite-darkly.css" rel="stylesheet">
    <title>CampNavi</title>
</head>

<body>

<th:block th:insert="insert/header.html"></th:block>

<article class="box centerBox review-box">
    <form name="form" method="post" enctype="multipart/form-data" action="/review/insert" onsubmit="return validateForm()">

        <h2 class="review-title">캠핑장 리뷰 작성</h2>
        <hr>

        <div class="review-insert-title">캠핑장 이름</div>
        <input class="webkit review-insert-input" type="text" id="camp" name="camp" th:value="${camp.name}" readonly>
        <input type="hidden" name="cseq" th:value="${camp.cseq}">
        <hr>
        <div>
            <div class="review-insert-title">Title</div>
            <input class="webkit review-insert-input" type="text" id="title" name="title">
        </div>
        <hr>
        <div class="buttonContain">
            <div class="review-insert-title review-insert-margin-right review-insert-rating-title">평점</div>
            <div id="rating_area"></div>
        </div>
        <hr>
        <div class="post-form">
            <textarea id="summernote" name="content"></textarea>
        </div>
        <div class="buttonContain review-topMargin">
            <button type="submit" class="mainBtn">게시글 등록</button>
            <button type="button" onclick="window.history.go(-1)" class="button">돌아가기</button>
        </div>
    </form>
</article>

<footer id="footer">
    <p class="copyright">&copy; Team Navigation. </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/summernote/js/summernote-lite.js"></script>
<script src="/assets/summernote/lang/summernote-ko-KR.js"></script>

<script>
    $(document).ready(function () {
        reloadRating(5.0, 0);
        $('#summernote').summernote({
            height: 300,                 // 에디터 높이
            minHeight: 500,             // 최소 높이
            maxHeight: 500,             // 최대 높이
            // 에디터 한글 설정
            lang: "ko-KR",
            focus: true,
            theme: 'darkly',
            toolbar: [
                ['fontname', ['fontname']], // 글꼴 설정
                ['fontsize', ['fontsize']], // 글자 크기 설정
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']], // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                ['table', ['table']], // 표만들기
                ['para', ['ul', 'ol', 'paragraph']], // 글머리 기호, 번호매기기, 문단정렬
                ['height', ['height']], // 줄간격
                ['insert', ['link','picture', 'video']], // 링크, 이미지, 비디오 추가
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋음체', '바탕체'],

            callbacks: {
                onImageUpload: function (files) {
                    uploadSummernoteImageFile(files[0], this);
                    alert("이미지가 추가되었습니다.")
                }
            }
        });
    });

    function uploadSummernoteImageFile(file, editor) {
        var formData = new FormData();
        formData.append("file", file);

        $.ajax({
            url: "/uploadSummernoteImageFile",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.startsWith("/upload/")) {
                    // 이미지 업로드 성공 시
                    console.log(response);
                    $(editor).summernote('editor.insertImage', response);
                    alert("이미지 업로드 성공");
                } else {
                    // 이미지 업로드 실패 시
                    alert("이미지 업로드 실패");
                }
            },
            error: function() {
                // AJAX 호출 실패 시
                alert("이미지 업로드 중 오류 발생");
            }
        });
    }

    function validateForm() {
        var content = $('#summernote').val();
        if ($.trim(content) === '') {
            alert("내용을 입력해 주세요.");
            return false;
        }
        return true;
    }

    function reloadRating(current, index) {
        $.ajax({
            type: "POST",
            url: "/review/reloadRating",
            data: {
                current: current,
                index: index
            },
            success: function(data) {
                let starScore = data.starScore;
                HTML = "";
                HTML += "<input type=\"hidden\" name=\"likes\" id=\"likes\" value=" + starScore + ">";
                HTML += "<span class=\"satisfaction\" title=\""+starScore+"\" alt=\""+starScore+"\">";
                if (starScore < 0.5) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 1); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-empty.png\"></a>";
                } else if (starScore < 1.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 1); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-half.png\"></a>";
                } else if (starScore >= 1.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 1); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-full.png\"></a>";
                }

                if (starScore < 1.5) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 2); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-empty.png\"></a>";
                } else if (starScore < 2.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 2); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-half.png\"></a>";
                } else if (starScore >= 2.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 2); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-full.png\"></a>";
                }

                if (starScore < 2.5) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 3); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-empty.png\"></a>";
                } else if (starScore < 3.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 3); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-half.png\"></a>";
                } else if (starScore >= 3.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 3); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-full.png\"></a>";
                }

                if (starScore < 3.5) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 4); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-empty.png\"></a>";
                } else if (starScore < 4.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 4); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-half.png\"></a>";
                } else if (starScore >= 4.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 4); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-full.png\"></a>";
                }

                if (starScore < 4.5) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 5); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-empty.png\"></a>";
                } else if (starScore < 5.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 5); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-half.png\"></a>";
                } else if (starScore >= 5.0) {
                    HTML += "<a href=\"\" onclick=\"reloadRating(" + starScore + ", 5); return false;\"><img class=\"star\" src=\"/assets/images/icon/star-full.png\"></a>";
                }
                HTML += "</span>";
                $("#rating_area").html(HTML);
            },
            error: function() {
                alert("평점 출력 실패");
            }
        });
    }
</script>

<div id="bg"></div>

</body>
</html>
