<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/BG.css" rel="stylesheet"/>
    <title>CampNavi</title>
</head>

<th:block th:insert="/insert/header"></th:block>

<body>
<article class="box centerBox" id="review-list">

    <h2>캠핑장 리뷰 리스트</h2>
    <div class="page-index">
        <!-- 리스트 영역 -->
        <div id="list_area"></div>
        <!-- 페이지 영역 -->
        <div class="page-box" id="page_area">
            <img class="icon width-rem1" src="/assets/images/icon/arrowL.png">
            <a class="page-num"></a>
            <img class="icon width-rem1" src="/assets/images/icon/arrowR.png">
        </div>
    </div>


    <form method="get" th:action="@{/review/list}">
        <div class="search-container review-list-search-index">
            <select class="search" id="search" name="searchField">
                <option value="campName">캠핑장명</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="titleContent">제목 / 내용</option>
                <option value="writer">작성자</option>
            </select>

            <input class="searchWord" name="searchWord" type="text">
            <button class="searchButton" type="submit">검색</button>

        </div>
    </form>

    <button class="review-list-create-button mainBtn" onclick="window.location.href='/review/insert_search_form'">
        리뷰 작성
    </button>

</article>

<footer id="footer">
    <p class="copyright">&copy; Team Navigation. </p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        reloadList(1, "vseq", "DESC");
    });

    function reloadList(page, sortBy, sortDirection) {
        $.ajax({
            type: 'POST',
            url: '/review/reloadList',
            data: {
                page: page,
                sortBy: sortBy,
                sortDirection: sortDirection
            },
            success: function (data) {
                let list = data.reviewVoList;
                let bestList = data.reviewVoBestList;
                let totalPages = data.totalPages;
                let page = data.page;
                let size = data.size;
                let pageMaxDisplay = data.pageMaxDisplay;
                let pageWidth = parseInt(pageMaxDisplay/2);
                let result = data.result;


                if (result === "success") {
                    let HTML = "";
                    HTML += "<table><thead><tr><th>캠핑장명</th><th>제목</th><th>작성자</th><th>작성일시</th><th>추천수</th><th>조회수</th></tr></thead><tbody>";
                    for (let i = 0; i < (bestList.length < 3 ? bestList.length : 3); i++) {

                        var bestTitle = bestList[i].review.title;

                        if (bestTitle.length > 50) {
                            bestTitle = bestTitle.substring(0, 50) + "...";
                        }
                        HTML += "<tr class='review-list-pop-back'><td><a class='popularPosts' href='/camp/detail/?cseq=" + bestList[i].review.camp.cseq + "'>" + bestList[i].review.camp.name + "</a></td>";
                        HTML += "<td><div class=\"popularPosts\">[인기] <a class=\"popularPosts\" href=\"/review/detail/" + bestList[i].review.vseq + "\">";
                        HTML += "<span class=\"popularPosts\" >" + bestTitle + "&nbsp</span>";
                        HTML += "<img src=\"/assets/images/icon/reply.png\" style=\"width: 18px; height: 18px; vertical-align: middle; filter: invert(100%);\"/>";
                        HTML += "<span> [" + bestList[i].review.commentCount + "]</span></a></div>";
                        HTML += "<input type=\"hidden\" name=\"vseq\" value=\"" + bestList[i].review.vseq + "\"/></td>";
                        HTML += "<td><a class=\"popularPosts\" href=\"/review/memberList/" + bestList[i].review.member.mseq + "\">" + bestList[i].review.member.nickname + "</a>";
                        HTML += "<input type=\"hidden\" name=\"mseq\" value=\"" + bestList[i].review.member.mseq + "\"/></td>";
                        HTML += "<td class=\"popularPosts\">" + bestList[i].createdAt + "</td>";
                        HTML += "<td class=\"popularPosts\">" + bestList[i].rcdCount + "</td>";
                        HTML += "<td class=\"popularPosts\">" + bestList[i].review.count + "</td></tr>";
                    }

                    for (let i = (page - 1) * size; i < (page * size < list.length ? page * size : list.length); i++) {

                        var title = list[i].review.title

                        if (title.length > 50) {
                            title = title.substring(0, 50) + "...";
                        }

                        HTML += "<tr class=\"review_list\"><td><a href='/camp/detail/?cseq=" + list[i].review.camp.cseq + "'>" + list[i].review.camp.name + "</a></td>";
                        HTML += "<td><div class=\"review_list\"><a href=\"/review/detail/" + list[i].review.vseq + "\">";
                        HTML += "<span>" + title + "&nbsp</span>";
                        HTML += "<img src=\"/assets/images/icon/reply.png\" style=\"width: 18px; height: 18px; vertical-align: middle;\"/>";
                        HTML += "<span> [" + list[i].review.commentCount + "]</span></a></div>";
                        HTML += "<input type=\"hidden\" name=\"vseq\" value=\"" + list[i].review.vseq + "\"/></td>";
                        HTML += "<td><a href=\"/review/memberList/" + list[i].review.member.mseq + "\">" + list[i].review.member.nickname + "</a>";
                        HTML += "<input type=\"hidden\" name=\"mseq\" value=\"" + list[i].review.member.mseq + "\"/></td>";
                        HTML += "<td>" + list[i].createdAt + "</td>";
                        HTML += "<td>" + list[i].rcdCount + "</td>";
                        HTML += "<td>" + list[i].review.count + "</td></tr>";
                    }

                    HTML += "</tbody></table>";
                    $("#list_area").html(HTML);
                }

                // 페이지 번호 요소를 동적으로 생성합니다.
                let pageHTML = "";
                if (page == 1) {
                    pageHTML += "<img class=\"icon width-rem1\" src=\"/assets/images/icon/arrowL.png\">";
                } else {
                    pageHTML += "<a href=\"\" onclick=\"reloadList(" + (page-1) + ", 'vseq', 'DESC'); return false;\"><img class=\"icon width-rem1\" src=\"/assets/images/icon/arrowL.png\"></a>";
                }

                let start = page - pageWidth;
                let end = page + pageWidth;
                if (start < 1) {
                    start = 1;
                    end = Math.min(start + pageWidth*2, totalPages);
                }
                if (end > totalPages) {
                    end = totalPages;
                    start = Math.max(end - pageWidth*2, 1);
                }
                for (let i = start; i <= end; i++) {
                    if (i == page) {
                        pageHTML += "<span class=\"page-num active\">" + i + "</span>";
                    } else {
                        pageHTML += "<a href=\"\" class=\"page-num\">" + i + "</a>";
                    }
                }
                if (page == totalPages) {
                    pageHTML += "<img class=\"icon width-rem1\" src=\"/assets/images/icon/arrowR.png\">";
                } else {
                    pageHTML += "<a href=\"\" onclick=\"reloadList(" + (page+1) + ", 'vseq', 'DESC'); return false;\"><img class=\"icon width-rem1\" src=\"/assets/images/icon/arrowR.png\"></a>";
                }
                document.getElementById('page_area').innerHTML = pageHTML;

                // 페이지 번호를 클릭하면 해당 페이지의 내용을 불러오는 함수
                function handlePageClick(event) {
                    const pageNumber = parseInt(event.target.textContent);
                    reloadList(pageNumber, 'vseq', 'DESC');
                    event.preventDefault();
                }

                // 페이지 번호 요소들을 가져옵니다.
                const pageNumElements = document.querySelectorAll('.page-num');

                // 각 페이지 번호 요소에 클릭 이벤트 리스너를 추가합니다.
                pageNumElements.forEach((pageNumElement) => {
                    pageNumElement.addEventListener('click', handlePageClick);
                });
            },
            error: function () {
                alert("리스트 갱신 실패!");
            }
        });
    }
</script>

<div id="bg"></div>
</body>
</html>
