<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/loginBG.css" rel="stylesheet"/>
    <title>Title</title>
</head>
<script>
    $(document).ready(function () {
        alert("아이디는 6자 이상 숫자, 영문 / 비밀번호는 8자 이상 숫자, 영어 대문자, 소문자, 특수문자 1개 이상 포함시켜야 합니다.");
        window.location.href = 'member/membership';
    })
</script>
<body>
</body>
</html>