<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/mainBG.css" rel="stylesheet"/>
    <title>CampNavi</title>
</head>
<style>
    /* 모달 창 스타일 */
    .modal {
        display: none; /* 초기에는 숨김 */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<body>
<div class="centerBox">
    <a href="/member/login"><img id="user-search-logo" src="/assets/images/logo/typo.png"></a>
    <div class="box" id="user-search-box">
        <h2 class="major">비밀번호 찾기</h2>
        <form action="/member/search/password" id="newPwForm" method="post">
            <input class="webkit" id="user-search-name-pw" name="name" placeholder="이름" type="text">
            <input class="webkit" id="username" name="username" placeholder="아이디" type="text">
            <input class="webkit" id="user-search-email" name="email" placeholder="이메일" type="text">
            <input class="webkit" id="user-search-phone" name="phone" placeholder="전화번호" type="tel">
            <div id="user-search-birth-title">생년월일</div>
            <input class="webkit" id="user-search-birth" name="birth" type="date">


            <button class="webkit mainBtn" id="pwSubmit" type="button">전송</button>
        </form>
    </div>
</div>
<input id="mseq" type="hidden">
<div id="bg"></div>
<div class="modal" id="verificationModal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>새로운 비밀번호를 입력하세요:</p>
        <input id="newPw" name="pw" type="password">
        <p>비밀번호를 한 더 입력해주세요:</p>
        <input id="newPwVerify" name="pwVerify" type="password">
        <button onclick="checkNewPassword()">확인</button>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        document.getElementById('verificationModal').style.display = 'none';
    });

    document.getElementById('pwSubmit').addEventListener('click', function () {
        if ($("#user-search-name-pw").val() == "") {
            alert("이름을 입력해주세요.");
            $("#user-search-name-pw").focus();
        } else if ($("#username").val() == "") {
            alert("아이디를 입력해주세요.");
            $("#username").focus();
        } else if ($("#user-search-email").val() == "") {
            alert("이메일을 입력해주세요.");
            $("#user-search-email").focus();
        } else if ($("#user-search-birth").val() == "") {
            alert("생년월일을 입력해주세요.")
            $("#user-search-birth").focus();
        } else if ($("#user-search-phone").val() == "") {
            alert("전화번호를 입력해주세요.")
            $("#user-search-phone").focus();
        } else {
            $.ajax({
                url: '/member/search/password',
                method: 'POST',
                data: {
                    name: $("#user-search-name-pw").val(),
                    username: $("#username").val(),
                    email: $("#user-search-email").val(),
                    birth: $("#user-search-birth").val(),
                    phone: $("#user-search-phone").val()
                },
                success: function (data) {
                    if (data.result === "success") {
                        $("#mseq").val(data.mseq);
                        openModal();
                    } else {
                        alert(data.result);
                    }
                },
                error: function (error) {
                    alert("전송 실패");
                }
            });
        }
    });

    // 모달 열기
    function openModal() {
        var modal = document.getElementById('verificationModal');
        modal.style.display = 'block';
    }

    // 모달 닫기
    function closeModal() {
        var modal = document.getElementById('verificationModal');
        modal.style.display = 'none';
    }

    function checkNewPassword() {
        var pw = $("#newPw").val();
        var pwVerify = $("#newPwVerify").val();
        var mseq = $("#mseq").val();

        if (pw !== pwVerify) {
            alert("비밀번호가 일치하지 않습니다.");
            $("#newPw").focus();
        } else {
            $.ajax({
                url: '/member/search/password/new',
                method: 'POST',
                data: {
                    pw: pw,
                    mseq: mseq
                },
                success: function (data) {
                    if (data.result === "success") {
                        alert("비밀번호가 변경되었습니다.");
                        closeModal();
                        location.href = "/";
                    } else {
                        alert(data.result);
                    }
                },
                error: function (error) {
                    alert("비밀번호 변경 전송 실패");
                }
            });
        }
    }
</script>
</html>