/* 배경 */

body {
    background-color: #f0f0f0; /* 기본 배경색을 설정합니다. */
}

#bg {
    position: fixed; /* 절대 위치를 설정합니다. */
    top: 0; /* 상단에서 0의 위치에 배치합니다. */
    left: 0; /* 왼쪽에서 0의 위치에 배치합니다. */
    width: 100%; /* 너비를 100%로 설정합니다. */
    height: 100%; /* 높이를 100%로 설정합니다. */
    background-image: url('../../images/bg/mainPage.png'); /* 배경 이미지를 설정합니다. */
    background-size: cover; /* 배경 이미지를 페이지에 맞게 조절합니다. */
    background-position: center; /* 배경 이미지의 위치를 중앙 하단으로 설정합니다. */
    background-attachment: fixed; /*배경 이미지를 고정합니다.*/
    opacity: 1; /* 배경 이미지의 투명도를 설정합니다. */
    z-index: -1; /* 배경 이미지가 다른 콘텐츠 뒤에 위치하도록 설정합니다. */
}