<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/BG.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>CampNavi</title>
</head>

<body>
<article class="box centerBox" id="review-detail-box">
    <div class="container">
        <h2 class="mb-4" th:text="${qna.type != 'ONE' ? 'FAQ' : '1:1 문의'}"></h2>
        <hr class="vertical">
        <div class="card webkit">
            <form action="/qna/detail/edit" method="post" enctype="multipart/form-data" id="editForm">
            <div class="card-header">
                <input type="text" name="title" id="title" th:value="${qna.title}" class="myPageInput"/>
                <input type="hidden" id="title2" th:value="${qna.title}"/>
                <input type="hidden" name="qseq" th:value="${qna.qseq}">
            </div>
            <hr>
            <div class="card-body">
                <div class="info">
                    <div class="space-between">
                        <div class="space-between-flex">
                            <span th:text="'작성자 : '+${qna.member.name}">작성자명</span>

                        </div>
                        <div class="space-between-flex">
                            <span th:text="'작성일시 : '+${#dates.format(qna.createdAt, 'yyyy-MM-dd HH:mm:ss')}">날짜시간</span>
                        </div>
                    </div>
                    <hr>
                </div>

                <textarea class="qna-content" id="content" name="content" th:text="${qna.content}"></textarea>
                <input id="content2" type="hidden" th:value="${qna.content}"/>
                <hr>
                <div id="img-area">
                    <img id="img" class="campAreaImg" th:if="${qna.image != null}" th:src="@{/assets/qnaImages/} + ${qna.image}">
                    <input type="hidden" th:value="${qna.image != null ? 'y' : 'n'}" id="imgCheck">
                    <input type="hidden" th:value="${qna.useyn}" id="useyn">
                </div>
                <button type="button" id="input_file">파일 첨부</button>
                <input type="text" id="input_file_name" name="input_file_name" th:value="${img_file}" readonly>
                <input type="file" id="hiddenImg" hidden="hidden" name="img">
                <input type="hidden" id="isEmpty" name="isEmpty" th:value="${isEmpty}">
                <button type="button" id="input_file_clear">삭제</button>

                <hr>
                <div class="buttonContain button-full">
                    <!-- 작성자만 수정 및 삭제 버튼을 볼 수 있도록 -->
                    <button type="button" class="webkit" onclick="edit()">수정하기</button>

                    <!-- 목록으로 돌아가기 -->
                    <button type="button" class="webkit" onclick="backToDetail()">뒤로가기</button>
                </div>

                <hr>
            </div>
                <input type="hidden" id="username" th:value="${member.mseq == qna.member.mseq ? qna.member.mseq : 'n'}">
                <input type="hidden" id="qseq" th:value="${qna.qseq}">
                <input type="hidden" id="type" th:value="${qna.type}">
                <input type="hidden" id="role" th:value="${member.role}">
            </form>
        </div>
    </div>

</article>
<th:block th:insert="/insert/footer"></th:block>
<script>

    document.getElementById("input_file").addEventListener("click", function() {
        $("#hiddenImg").click();
    });

    document.getElementById("input_file_clear").addEventListener("click", function() {
        $("#input_file_name").val('파일 없음');
        document.getElementById("hiddenImg").value = "";
        $("#isEmpty").val(true);
    });

    document.getElementById("hiddenImg").addEventListener("change", function() {
        let target = document.getElementById("hiddenImg");
        $("#input_file_name").val(target.files[0].name);
        $("#isEmpty").val(false);
    });


    $(document).ready(function () {
        var isImg = $("#imgCheck").val();
        if (isImg == 'y') {
            $("#img-area").show();
            $("#img").show();
        } else {
            $("#img-area").hide();
            $("#img").hide();
        }
    });
    function edit() {
        if($("#username").val() != 'n' || $("#username").val() != null) {
            if ($("#title").val().length == 0) {
                alert("제목을 입력해 주세요.");
                $("#title").focus();
            } else if ($("#content").val().length == 0) {
                alert("내용을 입력해 주세요.");
                $("#content").focus();
            } else {
                $("#editForm").attr('action', '/qna/detail/edit').submit();
            }
        } else {
            alert("수정권한이 없습니다.")
        }
    }

    function backToDetail() {
        let title = $("#title").val();
        let title2 = $("#title2").val();
        let content = $("#content").text();
        let content2 = $("#content2").val();

        if (title !== title2 || content !== content2) {
            alert("test");
            $("#title").val(title2);
            $("#content").text(content2);
        }

        if ($("#type").val() === "FAQ") {
            location.href = "/qna/faq/detail/" + $("#qseq").val();
        } else {
            location.href = "/qna/oneByone/detail/" + $("#qseq").val();
        }
    }
</script>
</body>
</html>
